/* header atas */
.header-satu{
    background-color:#10C6C6;
    width:100%;
    height:150px;
    box-shadow: #888888;
}
/* gambar header */
.logo-gambar{
    height: 100px;
    float: left;
    margin-top:25px;
    margin-left:20px;
}
/* tulisan Toko Bekas. Com */
.header-logo{
    float: left;
    font-family: sans-serif;
    font-size: 40px;
    margin-top:55px;
    margin-left:20px;
}
/* kolom search */
.search{
    
    width: 200px;
    height: 30px;
    margin-top: 55px;
    margin-left: 550px;
    padding: 5px;
    
}
.push {
    margin-left: auto;
}
.flex-container {
    display: flex;
  }
  
  .flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
/* header bawah */
.header-list{
    background-color:#2CB795;
    padding:1px;
}
.btn-nav{
    color:black;
    text-decoration: none;
    border-radius: 20px;
    padding:10px;
    background-color: gray;
}

.btn-nav:hover {
    background-color: peru;
}
/* list header */
.header-list li{
    font-family: sans-serif;
    font-size: 20px;
    display: inline-block;
    margin-left:30px;
}
/* List (Daftar) */
span{
    margin-left: 580px;
    margin-right: 5px;
}

/* semua list */
li{
    list-style: none;
}
/* h1 main */
.main h1{
    font-size:35px;
    font-family:sans-serif;
    margin-left: 70px;
    text-align: center;
}
.social-icon{
    width: 50px;
    height: auto;
}
.kotak {
    margin-left: 70px;
    margin-right: 70px;
    display: grid;
    row-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.produk {
    border-radius: 2px;
    background-color: gray;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin-right: 30px;
}

.gambar {
    width: 100%;
}


footer {
    animation-name: example;
    animation-duration: 4s;
}

.flex-footer {
    display: flex;
  
    
}
  
.flex-footer img{
   height: 200px;
   
}



  .flex-footer > div {
    width: 100px;
    margin: 10px;
    text-align: center;
  }

@keyframes example {
    from {background-color: grey;}
    to {background-color: peru;}
  }

@media (max-width: 1000px)








